*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background-color: #020A18;
}
.center{
    padding-left: calc(50% - 574px);
    max-width: 1148px;
    margin-bottom: 210px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    margin-bottom: 160px;
}
.navi{
    display: flex;
    justify-content: center;
}
.link-top{
    color: var(--ffffff, #FFF);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 39px 32px;
}
.link-top:hover{
    color: #3A68B8;
}
.main{
    
}
.top{
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-transform: uppercase;
    margin-bottom: 10px;
}
.head{
    color: var(--ffffff, #FFF);
font-family: 'Open Sans', sans-serif;
font-size: 55px;
font-style: normal;
font-weight: 800;
line-height: 130%; /* 71.5px */
margin-bottom: 40px;
}
.dsc{
    color: var(--ffffff, #FFF);
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 28.8px */
opacity: 0.7;
margin-bottom: 65px;
}
.main-link{
    color: var(--ffffff, #FFF);
font-family: 'Open Sans', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 20px;
background-color: #3A68B8;
border-radius: 5px;
padding: 1rem 2rem;
border: 1px solid transparent;
}
.main-link:hover{
    color:  #3A68B8;
    background-color: #fff;
    border: 1px solid #3A68B8;
}
.fa-play{
    margin-right: 10px;
}
.logo-box{
    margin-bottom: 250px;
}
.brain-head{
    color: var(--ffffff, #FFF);
font-family: 'Open Sans', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 52px */
margin-bottom: 40px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 389px); 
    gap: 30px;
}
.small-icon{
    background: #132035;
    padding: 30px 30px;
    display: grid;
    justify-items: center
}
.big-icon{
    background: #132035;
    padding: 30px 30px;
    grid-column: span 2;
    grid-row: span 2;
    display: grid;
    justify-items: center;
}
.small-head{
    color: var(--ffffff, #FFF);
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 31.25px */


} 
.small-p{
    color: var(--ffffff, #FFF);
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 25.6px */
opacity: 0.7;
}
.big-head{
    color: var(--ffffff, #FFF);
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 31.25px */
}
.big-p{
    color: var(--ffffff, #FFF);
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 25.6px */
opacity: 0.7;
}
.footer-inf{
    display: flex;
flex-direction: row;
align-items: flex-start;
gap: 50px;
flex-shrink: 0;
}
.footer-h{
    color: var(--ffffff, #FFF);
    font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 33px;
}
.footer-p{
    color: var(--ffffff, #FFF);
    font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 20px;
}
.about-p{
    color: var(--ffffff, #FFF);
    font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: italic;
font-weight: 100;
line-height: normal;
opacity: 0.6;
}
.logo-footer{
    color: var(--ffffff, #FFF);
    font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 25.6px */
opacity: 0.7;
}